<article id="a-subject-modify">
  <form class="text-form" method="POST" action="/admin/subject-add">
      <input type="text" name="name" placeholder="Name of Subject"></input>
      <button type="submit">Add Subject</button>
  </form>
</article>