<article id="a-teacher-modify">
  <form class="text-form" method="POST" action="/admin/teacher-add">
      <input type="text" name="name" placeholder="Name of Teacher"></input>
      <button type="submit">Add Teacher</button>
  </form>
</article>