<article id="a-user-time">
  <form>
    <input type="date" name="date">
    <input type="number" name="hour" min="0" max="24">
    <input type="number" name="minute" min="0" max="59">
    <button type="submit">Submit</button>
  </form>
</article>