<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Panel heading</div>

  <!-- Table -->
  <table class="table">
    <% classes.each do |classes| %>
      <li><%= classes.name %></li>
    <% end %>
  </table>
</div>