<form class="text-form" method="POST" action="/admin/class-add">
    <input type="text" name="name" placeholder="Name"></input>
    <input type="text" name="teacher" placeholder="Teacher"></input>
    <input type="number" name="spots" placeholder="Spots"></input>
    <button type="submit">Add Class</button>
</form>