<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    
    <title>Online Arena</title>
    
    <!--<link rel="stylesheet" type="text/css" href="/normalize.css">-->
    <link rel="stylesheet" type="text/css" href="/main.css">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    
  </head>
  
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">Online Arena</a>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-collapse collapse" id="nav-bar">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/admin/modify-category">Modify Categories</a></li>
                <li><a href="/admin/modify-subject">Modify Subject</a></li>
                <li><a href="/admin/modify-teacher">Modify Teachers</a></li>
                <li><a href="/admin/modify-class">Modify Classes</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/admin/modify-registry">Modify Registries</a></li>
                <li><a href="/admin/set-class-select">Set Class Selection</a></li>
                <li><a href="/admin/set-teacher-select">Set Teacher Selection</a></li>
                <li><a href="/admin/view-users">View Users</a></li>
              </ul>
            </li>
            <li><a href="/class-view">View Classes</a></li>
            <li><a href="/class-select">Select Classes</a></li>
            <li><a href="/teacher-select">Select Teachers</a></li>
          </ul>
          <!--<form class="navbar-form navbar-left" role="search">-->
          <!--  <div class="form-group">-->
          <!--    <input type="text" class="form-control" placeholder="Search">-->
          <!--  </div>-->
          <!--  <button type="submit" class="btn btn-default">Submit</button>-->
          <!--</form>-->
          <ul class="nav navbar-nav navbar-right">
              <% if user_signed_in? %>
                <li><a href="/sign_out"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
                <p class="navbar-text"></span> Signed in as <%= current_user.username %></p>
              <% else %>
                <li><a href="/sign-in"><span class="glyphicon glyphicon-log-in"></span> Sign In</a></li>
                <li><a href="/sign-up"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <!--<li><a href="/sessions/new">Sign In</a></li>-->
                <!--<li><a href="/users/new">Create Account</a></li>-->
              <% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>


    <div class="container" id="main-content">
       <%= yield %>
       <script type="text/javascript" src="/interactions.js"></script>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>