<article>
  <div class="jumbotron">
    <h1>Online Arena</h1>      
    <p>If this is your first time please sign up to access the pages!</p>      
  </div>
  
  <div class="row">
    <div class="col-sm-6">
      <h3>Project Status:</h3>
      <p>Currently updating the styling of the pages</p>
    </div>
    <div class="col-sm-6">
      <h3>Recent Updates:</h3>
      <p>Updated the looks of Sign In/Sign Up</p>
    </div>
  </div>

</article>