<article>
  <div class="jumbotron">
    <h1>Online Arena</h1>      
    <p>Did you hear about the guy whos left side was cut off? <br>
      He's all right now.
    </p>      
  </div>
  
  <div class="row">
    <div class="col-sm-6">
      <h3>Project Status:</h3>
      <p>Adding Deletion</p>
    </div>
    <div class="col-sm-6">
      <h3>Recent Updates:</h3>
      <p>Fixed Deletion for categories/subjects</p>
    </div>
  </div>
  
  <script type="text/javascript">
  $(document).ready(function(){
    $.ajax({
      type: 'GET',
      url: '/',
      success: function() {
        alert("Boo");
      }
    });
  });
  </script>

</article>