<article>
  <h2>Sign In</h2>

  <% if user.errors.any? %>
    <div class="form-errors">
      <h3>Uh oh! There were some errors.</h3>
      <ul class="error-messages">
        <% user.errors.full_messages.each do |error_msg| %>
          <li><%= error_msg %></li>
        <% end %>
      </ul
    </div>
  <% end %>
  
  <div>
    <form class="form-horizontal" role="form" method="POST" action="/sign-in">
      <div class="form-group">
        <label class="col-sm-2 control-label" for="user-email">Email</label>
        <div class="col-sm-10">
          <input class="form-control" id="user-email" type="text" name="email" value="<%= user.email%>">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label" for="user-password">Password</label>
        <div class="col-sm-10">
          <input class="form-control" id="user-password" type="password" name="password">
        </div>
      </div>  
      <button class="btn btn-success btn-lg pull-right" type="submit">Sign In</button>
    </form>
  </div>
</article>
