<article>
  <h2>Create Account</h2>

  <% if user.errors.any? %>
    <div class="form-errors">
      <h3>Uh oh! There were some errors.</h3>
      <ul class="error-messages">
        <% user.errors.full_messages.each do |error_msg| %>
          <li><%= error_msg %></li>
        <% end %>
      </ul
    </div>
  <% end %>
  
  <form class="form-horizontal" role="form" method="POST" action"/sign-up">
    <div class="form-group">
      <label class="col-sm-2 control-label">Username</label>
      <div class="col-sm-10">
        <input class="form-control" type="text" name="user[username]" placeholder="PeanutButter" value="<%= user.username %>">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="user-email">Email</label>
      <div class="col-sm-10">
        <input class = "form-control"id="user-email" type="text" name="user[email]" placeholder="PeanutButter@gmail.com" value="<%= user.email %>">
      </div>
    </div>
    
    <% if Registry.nil? %>
      <h4 class="col-sm-12">There's no Registries available to select</h4>
    <% else %>
    <div class="form-group">
      <label class ="col-sm-2 control-label" for="user-registry">Registry:</label>
      <div class="col-sm-10">
        <select class="form-control" id="sel1">
        <% Registry.each do |registry| %>
          <option><%=registry.name%></option>
        <% end %>
        </select>
      </div>
    </div>
    <% end %>
      
      
    
    <div class="form-group">
      <label class="col-sm-2 control-label"for="user-password">Password</label>
      <div class="col-sm-10">
        <input class="form-control" id="user-password" type="password" name="user[password]"placeholder="Super421PeanutButterWaffleYoYoTurkey">
      </div>
    </div>
    
    <div class="form-group">
      <label class="col-sm-2 control-label" for="user-password-confirm">Confirm Password</label>
      <div class="col-sm-10">
        <input class="form-control" id="user-password-confirm" type="password" name="user[password_confirmation]" placeholder="Super421PeanutButterWaffleYoYoTurkey">
      </div>
    </div>

    <button class="btn btn-success btn-lg pull-right" type="submit">Create Account</button>
  </form>
</article>
